body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.oneline {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

div.description {
  z-index: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

div.description:hover {
  display: block;
}

img.programArtwork {
  height: 354px;
  width: 354px;
  float: left;
  margin-right: 24px;
}

#loadingStatus {
  color: #ccc;
  padding: 12px;
  cursor: progress;
}
